/* FONTS FRA ADOBE ER IMPORTET I DEN ENKELTE HTML*/
/*
Light Semicondensed Display
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 300;
font-style: normal;
*/

/*
Semicondensed Italic Display
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 300;
font-style: italic;
*/


/*
Semicondensed Display
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 400;
font-style: normal;
*/

/*
Semicondensed Italic Display Medium
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 400;
font-style: italic;
*/

/*
Semicondensed Display Medium
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 500;
font-style: normal;
*/

/*
Semicondensed Italic Display Semibold
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 500;
font-style: italic;
*/

/*
Semicondensed Display SemiBold
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 600;
font-style: normal;
*/

/*
Semicondensed Italic Display Bold
font-family: kepler-std-semicondensed-dis, serif;
font-weight: 600;
font-style: italic;
*/



/* IMPORT FONTS FRA /FONTS MAPPEN - INDSÆTTES I STYLES.CSS*/
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Medium.woff') format('woff'),
        url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: "Saol Display Regular"; src: url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot"); src: url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff") format("woff"), url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.svg#Saol Display Regular") format("svg"); }

@font-face {
    font-family: 'Saol Display Light';
    src: url('fonts/SaolDisplay-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display Light Italic';
    src: url('fonts/SaolDisplay-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Bold.woff') format('woff'),
        url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black.woff') format('woff'),
        url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('fonts/CircularStd-Book.woff') format('woff'),
        url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black_1.woff') format('woff'),
        url('fonts/CircularStd-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}