/* CSS RESET + scroll settings */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html{
    scroll-behavior: smooth;
}

/* FONTS */
@import "fonts.css";

/* VARIABLER*/
:root {
    color: var(--black);
    /* Farver */
    --blue: #0E47FF;
    --lightblue: #F4F6FD;
    --beige: #FFF8EE;

    /*Gråtoner*/
    --black: #141414;
    --gray: #727272;
    --lightgray: #F7F7F7;
    --white: #FDFDFD;

    /*UX writing*/
    --false: #FC5252;
    --success: #0FEC42;

    /* Typografi */
    --mainfont: 'Circular Std Book', sans-serif;
    --headers: 'Circular Std Book', sans-serif;
    --scndfont: 'Saol Display Regular', serif;
    --lineheight: 160%;

    /* Whitespace */
    --sectionpadding: 10rem 12rem;
}

/*Baggrund */
body {
    background-size: 100% auto;
    background-color: var(--white);
}
  
/* Typography 
h1 {

}
*/
p{
    font-family: var(--mainfont);
    font-weight: normal;
}


/* BUTTONS */
#buttonFooter{
    font-family: var(--mainfont);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 15px;
    font-size: 1em;
    background: var(--blue);
    border-radius: 8px;
    color: var(--white);
    text-align: center;
}


#buttonMain{
    font-family: var(--mainfont);
    white-space: nowrap;
    text-decoration: none;
    border-style: none;
    font-weight: 500;
    padding: 15px 40px;
    font-size: 1em;
    background: var(--blue);
    border-radius: 8px;
    color: var(--white);
    text-align: center;
}

#buttonMain:hover{
    background: var(--black);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}

/* FOOTER */
#footerLogo svg{
    height: 35px;
}

#footerLogo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footerMenuLinks{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer a{
    text-decoration: none;
    color: var(--black);
}

footer a:hover{
    opacity: 0.5;
    text-decoration: underline;
    transition: .5s;
}

#footerFindOs{
    display: flex;
    flex-direction: column;
}

#footerFindOsContact{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.footerCTA{
    margin-top: 1.5rem;
}

footer p{
    padding-bottom: 1.5rem;
}

footer h4{
    font-family: var(--headers);
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

#footerKontaktCTA{
    padding-bottom: 4rem;
}

#footerKontaktCTA svg{
    fill: var(--white);
    height: 20px;
    padding-right: 1rem;
}

#footerKontaktSome{
    display: flex;
    gap: 1.5rem;
    opacity: 0.6;
}

#footerLogo p{
    font-weight: 600;
}

#footerKontaktSome svg{
    height: 22px;
}

footer{
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem 5rem 10rem;
    line-height: 160%;
}

/* LANDING PAGE */
#landing h1{
    font-family: var(--headers);
    line-height: 140%;
    font-size: 4rem;
    padding-bottom: 2rem;
    max-width: 15ch;
}

#landing p{
    font-size: 1.3rem;
    font-family: 'Circular Std Light';
    font-weight: 7700;
    max-width: 44ch;
    padding-bottom: 5rem;
}

#landing u{
    font-weight: bold;
    text-underline-offset: 0.35rem;
}

#landing span{
    font-family: var(--mainfont);
    font-weight: 100;

}

#landing video{
    z-index: -1;
    right: 0;
    top: 0;
    max-width: 100%;
    min-height: 50%;
}

#landingText{
    padding-top: 35vh;
    padding-left: 12rem;    
    color: var(--white);
    z-index: 99;
    height: 100vh;
    position: absolute;
    top: 0;
}

/* VORES KONCEPT*/
#koncept{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#koncept h2{
    font-family: 'Circular Std Medium', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

#koncept svg{
    height: 80px;
}

#koncept p{
    font-family: var(--mainfont);
}

#konceptIkoner{
    display: flex;
    gap: 5rem;
}

#konceptIkon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* VORES AKTIVITETER LANDINGPAGE*/
#voresaktiviteter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    height: 60vh;
    width: 100%;
}

#voresaktiviteterBillede{
    background-image: url('/media/voresaktiviteter.png');
    background-position: center;
    width: 50%;
    height: 100%;
}

#voresaktiviteterTekst{
    background-color: var(--beige);
    max-width: 50%;
    padding-left: 12rem;
    padding-right: 12rem;
}

#voresaktiviteterTekst h3{
    font-family: 'Circular Std Medium', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    padding-bottom: 1.5rem;
}

#voresaktiviteterTekst p{
    font-size: 1.1rem;
    color: var(--gray);
    padding-bottom: 2.7rem;
    line-height: var(--lineheight);
}

/* SHOP TEASER */
#shopTeaser{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 13rem;
    padding-bottom: 13rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

#shopTeaserHeader{
    font-family: 'Circular Std Book', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}

#shopTeaserHeader h3{
    font-size: 3rem;
    font-weight: var(--headers);
}

#shopTeaserHeader a{
    color: var(--black);
    text-underline-offset: 0.25rem;
}

#shopTeaserGrid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
}

#shopTeaserProdukt img{
    height: 460px;
    width: auto;
    padding-bottom: 1.5rem;
}

#shopTeaserProdukt{
    font-family: 'Circular Std Book', sans-serif;
    display: flex;
    flex-direction: column;
}

#shopTeaserProdukt h4{
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
}

#shopTeaserProdukt p{
    font-size: 1.1rem;
    padding-bottom: 0.6rem;
}

/* MISSION BANNER LANDINGPAGE */
#missionBanner{
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: var(--black);
    color: var(--beige);
    font-family: var(--scndfont);
    font-size: 5rem;
    font-weight: 500;
}

/* MENUKORT BANNER */
#menukortBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mbTekst{
    padding: 10rem 10rem;
    max-width: 45%;
}

#mbTekst h2{
    font-family: var(--mainfont);
    font-size: 4.2rem;
    font-weight: 300;
    padding-bottom: 5rem;
    text-underline-offset: 0.3rem;
}

#mbTekst h6{
    font-family: var(--mainfont);
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

#mbTekst b{
    color: var(--black);
}

#mbTekst p{
    font-size: 1.1rem;
    color: var(--gray);
    padding-bottom: 3.5rem;
    line-height: var(--lineheight);
}

#mbGalleri{
    width: 50%;
}

#mbGalleri img{
    max-width: 100%;
}

/* LOKATIONER - HVIS DU ER I NÆRHEDEN */
#lokationer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 10rem;
}

#alleLokationer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#lokationer h2{
    font-family: var(--mainfont);
    font-weight: 300;
    font-size: 3.5rem;
    padding-bottom: 3rem;
}

#lokationerItem{
    max-width: 50%;
}

#lokationerItem img{
    width: 100%;
    padding-bottom: 1.5rem;
}

#lokationerTekst{
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-between;
}

#lokationerTekst p{
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

#lokationerTekst a{
    color: var(--black);
    text-decoration: none;
}

#lokationerTekst a:hover{
    opacity: 0.5;
    text-decoration: underline;
    transition: 0.5s;
}

/* NYHEDSBREV */
#nyhedsbrevBanner fieldset{
    border-style: none;
    border-color: none;
}

#nyhedsbrevBanner input{
    border-radius: 8px;
}

#f2{
    display: none;
}

#btn1{
    font-family: var(--mainfont);
    white-space: nowrap;
    text-decoration: none;
    border-style: none;
    font-weight: 500;
    width: 200px;
    padding: 15px 40px;
    font-size: 1em;
    background: var(--blue);
    border-radius: 8px;
    color: var(--white);
    text-align: center;  
}

#btn1:hover{
    background: var(--black);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}



/* Header på alle undersider*/
header{
    padding-top: 12vh;
}

/* AKTIVITETER - underside */

#aktivitettop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh; 
}

#aktivitekst{
    padding-left: 12rem;
    padding-bottom: 2.5rem;
}

#aktivitettop h1{
    font-family: var(--mainfont);
    font-weight: 400;
    line-height: 140%;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    max-width: 17ch;
}

#aktivitettop p{
    font-size: 1.2rem;
    line-height: var(--lineheight);
    font-family: var(--mainfont);
    color: var(--gray);
    max-width: 44ch;
    padding-bottom: 2.5rem;
}

#aktivibillede{
    width: 50%;

}

#aktivibillede img{
    width: 100%;
    height: 100%;
}

/* Veninde dag */

#veninde-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    height: 50vh;
    width: 100%;
}

#venindeBillede{
    background-image: url('/media/voresaktiviteter.png');
    background-position: center;
    width: 50%;
    height: 100%;
}

#venindeTekst{
    background-color: var(--beige);
    max-width: 50%;
    padding-left: 12rem;
    padding-right: 12rem;
}

#venindeTekst h3{
    font-family: 'Circular Std Medium', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

#venindeTekst p{
    font-size: 1.1rem;
    color: var(--gray);
    padding-bottom: 2.7rem;
    line-height: var(--lineheight);
}

/* Kommende events */

#aktiviKommende{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#EventsTekst{
    text-align: center;
    padding-bottom: 10rem;
}

#EventsTekst h1{
    font-family: var(--mainfont);
    font-weight: 400;
    line-height: 140%;
    font-size: 3rem;

}

/* Aktiviteter året rundt */

#aktiviRundt{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#Overtekst{
    text-align: center;
    padding-bottom: 10rem;
}

#Overtekst h1{
    font-family: var(--mainfont);
    font-weight: 400;
    line-height: 140%;
    font-size: 3rem;
}

#aktivitet1{
    display: flex;
    height: 100%;
    width: 100%;
}

.aktivitetReverse{
    flex-direction: row-reverse;
}

#aktivitetbillede1{
    width: 50%;
}

#aktivitetbillede1 img{
    width: 100%;
    height: 100%;
}

#aktivitetstekst{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    padding-left: 12rem;
    padding-right: 12rem;
}

#aktivitetstekst h4{
    font-family: 'Circular Std Medium', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

#aktivitetstekst p{
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 2.7rem;
    line-height: var(--lineheight);
}

#aktivitetstekst a{
    color: var(---black);
    font-size: 1.1rem;
}

#SocBanner{
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

#aktiviteterSome{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}


#aktiviteterSome svg{
    height: 30px;
    fill: var(--white);
}
   




/* Om Os - underside */

#hvadErHavs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh; 
}

#hvadtekst{
    padding-left: 12rem;
    padding-bottom: 2.5rem;
}

#hvadErHavs h1{
    font-family: var(--mainfont);
    font-weight: 400;
    line-height: 140%;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    max-width: 17ch;
}

#hvadErHavs p{
    font-size: 1.2rem;
    line-height: var(--lineheight);
    font-family: var(--mainfont);
    color: var(--gray);
    max-width: 44ch;
    padding-bottom: 2.5rem;
}

#hvadhavsBillede{
    width: 50%;
}

#hvadhavsBillede img{
    width: 100%;
    height: 100%;
}

/* Vesterhavs stemning banner */

#vesterStemning{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    height: 50vh;
    width: 100%;
}

#vesterBillede{
    background-image: url('/media/voresaktiviteter.png');
    background-position: center;
    width: 50%;
    height: 100%;
}

#vesterTekst{
    background-color: var(--beige);
    max-width: 50%;
    padding-left: 12rem;
    padding-right: 12rem;
}

#vesterTekst h3{
    font-family: 'Circular Std Medium', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    
}

#vesterTekst p{
    font-size: 1.1rem;
    color: var(--gray);
    padding-bottom: 2.7rem;
    line-height: var(--lineheight);
}



/* KONTAKT */
#KontaktHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: 100vh; 
    background-color: var(--lightgray);
}

/* KONTAKT - tekst*/
#kontaktTekstHeader{
    padding-left: 12rem;
    padding-bottom: 2.5rem;
}

#kontaktTekstHeader h1{
    font-family: var(--mainfont);
    font-weight: 400;
    line-height: 140%;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    max-width: 17ch;
}

#kontaktTekstHeader p{
    font-size: 1.2rem;
    line-height: var(--lineheight);
    font-family: var(--mainfont);
    color: var(--gray);
    max-width: 43ch;
    padding-bottom: 3rem;
}

#kontaktIkoner{
    padding-top: 2em;
    padding-bottom: 3em;
}

#kontaktIkoner p{
    color: var(--gray);
    font-weight: bold;
}

#kontaktIkon svg{
    width: 1.5em;
}

#kontaktIkon{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#kontaktSome svg{
    height: 1.7em;
    fill: var(--blue);
}

#kontaktSome{
    display: flex;
    gap: 1.5rem;
    padding-top: 2em;
}

/* KONTAKT - form */
#kontaktFormHeader{
    width: 50%;
    padding-right: 12rem;
}

#kontaktFormHeader fieldset{
    border: none;
}

#kontaktFormHeader label, input, textarea{
    font-size: 1.1rem;
    line-height: var(--lineheight);
    font-family: var(--mainfont);
    color: var(--black);
}

#kontaktFormHeader input, textarea{
    width: 100%;
}

#kontaktFormHeader input, textarea{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/* Ikoner i placeholder*/ /* https://www.w3schools.com/howto/howto_css_animated_search.asp */
#navn, #mail, #besked {
    box-sizing: border-box;
    border: 2px solid var(--lightgray);
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: var(--white);
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-size: 1.1em;
  } 

#navn {
    background-image: url('/media/person.svg');
} 

#mail {
    background-image: url('/media/envelope.svg');
    background-position: 10px 17px;
} 

#besked {
    background-image: url('/media/message.svg');
} 



/* NAVBAR */
.navbar{
    z-index: 99;
    font-weight: normal;
    height: 12vh;
    background-color: var(--offwhite);
}

.nav-icon svg{
    height: 20px;
}

.logo svg{
    height: 30px;
}

.logo a:link{
    color: var(--black);
    text-decoration: none;
}

.logo a:visited{
    color: var(--black);
    text-decoration: none;
}

.logo a:hover{
    color: var(--black);
    opacity: 0.5;
    text-decoration: none;
    transition: .2s;
}

.logo a:active{
    color: var(--black);
    text-decoration: none;
}

.navbar a:hover{
    opacity: 0.5;
    transition: .2s;
}

.nav-socials {
    display: flex;
}

.nav-link{
    text-decoration: none;
    font-size: 1.2em;
    gap: 10px;
    text-underline-offset: 5px;
    padding: 4px 30px;
}

.nav-link:hover{
    text-decoration: underline;
    transition: 0.8s;
}

.nav-links a{
    font-family: var(--mainfont);
    color: var(--black);
    text-decoration-color: transparent;
    text-underline-offset: 5px;
    font-size: 1rem;
}

.nav-links svg{
    height: 13px;
    opacity: 0.7;
}

.nav-links a:hover{
    text-decoration: underline;
    transition: 0.8s;
}

.nav-links {
    list-style: none;
}

.nav-bar{
    text-align: center;
}

.hamburger-button {
    display: none;
}

.is-selected {
    padding: 0px;
}

nav{
    width: 100%;
    position: fixed;
    background-color: var(--white);
    transition: all 300ms ease-in-out;
    z-index: 10000;
}

.navbar{
    margin: auto 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 3rem 5rem;
    background-color: var(--white);
    transition: all 300ms ease-in-out;
}
    
.logo img{
    height: 2rem;
}

.social-link{
    text-decoration: none;
    color: var(--black);
    fill: var(--black);
    padding: 1rem 0 1rem 2rem;
    transition: color 0.2s ease;
}

.content{
    padding: 0 3rem;
    max-width: 1200px;
    margin: auto;
}

.container{
    width: 100%;
}

.responsive-nav {
    position: fixed;
    display: none;
    margin-top: 11vh;
    background-color: var(--white);
    width: 100%;
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    right:0;
    transition: 300ms ease-in-out;
    z-index: 10001;
    box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.10);
}

.responsive-nav a{
    padding-left: 0;
    color: var(--black);
}

.responsive{
    display: flex;
    flex-direction: column;
}

#hamburger-button {
    display: none;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 600px) {
    /* NAVBAR */
    .responsive .nav-link-container a {
        display: flex;
        text-align: left;
    }

    .navbar a.hamburger-button {
        display: block;
    }
    .nav-link-container a{
        display: none;
    }

    .navbar{
        padding: 1rem 2rem;
    }

    .logo{
        margin-right: auto;
    }
}

@media screen and (max-width: 960px) {
    /* NAVBAR */
    .content, navbar {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 720px;
    }

    #hamburger-button {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .logo{
        margin-right: auto;
    }
}

@media only screen and (max-width: 1280px) {
    /* NAVBAR */
    .content, navbar {
        max-width: 960px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .logo{
        margin-right: auto;
    }
}

@media only screen and (max-width: 1600px) {


}

